.container {
  // outline: 2px dashed red;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @include mobile-up {
    //* Рішення для адаптивної верстки 
    //* з шириною чітко 320px:
    // width: 320px;
  }

  @include mobile-only {
    //* Для гумової верстки: 
    max-width: 767px;
  }

  @include tablet-up {
    width: 768px;
  }


  @include desktop-up {
    width: 1280px;
  }
}
