.container {
  // outline: 2px dashed red;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile-up {
    width: 414px;
  }

  @include tablet-up {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @include desktop-up {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
