$color-white: #fff;
$color-black: #000;

$bg-light: #fffdee;
$bg-dark: #f0ecd6;

$border-radius-small: 2px;
$border-radius-big: 25px;

$transition-time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
