$color-bg-primary-light: #f4f4f4;
$color-bg-primary-dark: #2e2e2e;
$color-bg-dropdown: #f8f8f8;
$color-bg-location: rgba(254, 254, 255, 0.3);

$color-text-primary: #111321;

$color-white-primary: #ffffff;
$color-gray-primary: #a8a8a8;
$color-gray-secondary: #5f6775;
$color-green-primary: #00dd73;
$color-blue-primary: #4440f6;
$color-blue-transp: rgba(68, 64, 247, 0.7);
$color-blue-secondary: #4b48db;

$border-radius-big: 20px;
$border-radius-middle: 4px;
$border-radius-small: 2px;

$transition-time: 250ms;
$transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
