<li class="news__card-item">
  <div class="article">
    <div class="article__image_wrapper">
      <img src="/src/images/test-image.jpg" alt="News article" />
      <div class="article__category-label">News category</div>
      <button
        aria-label="Add Article to Favorite Page"
        class="article__btn target"
        type="button"
      >
        <span class="article__btn-text target">Add to favorite</span>
        <svg class="article__heart-icon target" width="16" height="16">
          <use href="/src/images/icons.svg#heart-like"></use>
        </svg>
      </button>
    </div>

    <div class="article__content">
      <div>
        <h2 class="article__header">
          8 tips for passing an online interview that will help you get a job
        </h2>
      </div>
      <div>
        <p class="article__subheader">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div class="article__footer">
          <p class="article__date">${pub_date}</p>
          <a
            class="article__readmore-link link-unstyled"
            href="${web_url}"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Read more</a
          >
        </div>
      </div>
    </div>
  </div>
</li>
