<li class="news__card-item">
  <div class="article">
    <a class="article__link link-unstyled" href="#">
      <div class="article__image_wrapper">
        <picture>
          <source
            srcset="./images/dt.jpg, ./images/dt.jpg, 2x"
            width="395"
            height="395"
          />
          <img
            src="./images/dt.jpg"
            alt="News article"
            width="395"
            height="395"
          />
        </picture>
        <div class="article__category-label">Job searching</div>
        <button class="article__btn" type="button">
          Add to favorite
          <svg class="article__heart-icon" width="16" height="16">
            <use href="./images/icons.svg#heart-like"></use>
          </svg>
        </button>
      </div>

      <div class="article__content">
        <h2 class="article__header">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <p class="article__subheader">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <div class="article__footer">
          <p class="article__date">20/02/2021</p>
          <a href="#" class="article__readmore-link link-unstyled">Read more</a>
        </div>
      </div>
    </a>
  </div>
</li>
