<footer class="footer">
  <div class="container">
    <div class="footer__wraper">
      <a href="./index.html" class="footer__logo"> News </a>
      <div class="footer__nav-wrapper">
        <ul class="footer__site-nav">
          <li class="footer__nav-item">
            <a class="footer__site-link footer__nav-link" href="./index.html"
              >Home</a
            >
          </li>

          <li class="footer__nav-item">
            <a
              class="footer__site-link footer__nav-link"
              href="./favorite.html"
            >
              Favorite</a
            >
          </li>
          <li class="footer__nav-item">
            <a class="footer__site-link footer__nav-link" href="./read.html"
              >Read</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
