<footer class="footer">
  <div class="container">
    <div class="footer__wraper">
      <a href="./index.html" class="footer__logo"> News </a>
      <div class="footer__nav-wrapper">
        <ul class="footer__site-nav">
          <li class="footer__nav-item">
            <a class="footer__site-link footer__nav-link" href="./index.html"
              >Home</a
            >
          </li>

          <li class="footer__nav-item">
            <a
              class="footer__site-link footer__nav-link"
              href="./favorite.html"
            >
              Favorite</a
            >
          </li>
          <li class="footer__nav-item">
            <a class="footer__site-link footer__nav-link" href="./read.html"
              >Read</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--   
        <div class="burger-menu" id="burger-menu">
          <ul class="site-nav">
            <li class="site-nav__item">
              <a class="site-nav__link nav-link" href="./index.html">
                <div class="nav-link__inner">
                  <svg class="site-nav__icon">
                    <use href="./images/icons.svg#home"></use>
                  </svg>
                  <span>Home</span>
                </div>
              </a>
            </li>
            <li class="site-nav__item">
              <a
                class="site-nav__link site-nav__link--current nav-link"
                href="./favorite.html"
              >
                <div class="nav-link__inner">
                  <svg class="site-nav__icon">
                    <use href="./images/icons.svg#fav"></use>
                  </svg>
                  <span>Favorite</span>
                </div></a
              >
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link nav-link" href="./read.html">
                <div class="nav-link__inner">
                  <svg class="site-nav__icon">
                    <use href="./images/icons.svg#read"></use>
                  </svg>
                  <span>Read</span>
                </div></a
              >
            </li>
          </ul>
  </div> -->
