<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="./index.html" class="logo logo--footer"> News </a>
      <div class="footer__info project-info">
        <p class="project-info__desc">
          Developed by
          <span class="project-info__team-name"
            ><button
              class="project-info__btn"
              type="button"
              aria-label="show team members info"
            >
              WatchUs
            </button>
            group</span
          >
        </p>
        <div class="project-info__attribute">
          <span>
            <p>GoIT Academy</p>
            <p>Ukraine 2023</p></span
          >
          <svg class="project-info__icon">
            <use href="./images/icons.svg#tryzub"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</footer>
