<div class="modal__backdrop is-hidden">
  <div class="modal team">
    <button class="modal__btn modal__btn--close" type="button">
      <svg class="modal__icon modal__icon--close">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <p>
      The <span class="team__name">"WatchUs"</span> team worked on this page.
      Thank you for your attention and see you in the next projects!
    </p>
    <h2 class="team__title">Team members</h2>
    <ul class="team__members">
      <li class="team__member member">
        <h3 class="member__name">Oleksii Fedorenko</h3>
        <p class="member__role">Team-lead, developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Oleh Panchenko</h3>
        <p class="member__role">Scrum-master, developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Vadym Yatskul</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Kateryna Rutkovska</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Alexandr Solonar</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Olya Madinska</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Eliz Pery</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Pasha Piankovskyi</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Viktor Evstafiev</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Denys Dorohan</h3>
        <p class="member__role">Developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>

      <li class="team__member member">
        <h3 class="member__name">Maksym Vasiliev</h3>
        <p class="member__role">Team-lead, developer</p>
        <a
          class="member__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="visually-hidden">Link to Linkedin page</span>
          <svg class="member__icon">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
