<div class="pagination">
    <button class="pagination__btn">
        <svg class="pagination__icon">
            <use href="./images/icons.svg#up"></use>
        </svg>
        Prew</button>
    <ul class="pagination__list">
        <li><button class="pagination__btn pagination__btn--number">1</button></li>
        <li><button class="pagination__btn pagination__btn--number">4</button></li>
        <li><button class="pagination__btn pagination__btn--number">5</button></li>
        <li><button class="pagination__btn pagination__btn--number">6</button></li>
        <li><button class="pagination__btn pagination__btn--number">20</button></li>
    </ul>
    <button class="pagination__btn">
        Next
        <svg class="pagination__icon pagination__icon--first">
            <use href="./images/icons.svg#up"></use>
        </svg>
    </button>
</div>