.favorite {
  padding-top: 122px;
  padding-bottom: 60px;

  @include tablet-up {
    padding-top: 154px;
    padding-bottom: 100px;
  }

  @include desktop-up {
    padding-top: 173px;
    padding-bottom: 150px;
}
