.list-filter {
  display: inline-block;
  font-family: 'Manrope';
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  padding: 28px 0;
  color: $color-blue-primary;

  @include tablet-up {
    display: flex;
    justify-content: space-between;
    max-width: 528px;
  }

  @include desktop-up {
    max-width: 742px;
  }
}

.btn-filter {
  display: block;
  align-items: center;
  padding: 8px 21px;

  cursor: pointer;
  color: $color-blue-primary;
  border-radius: 20px;
  border: 1px solid $color-blue-primary;
  background-color: $color-white-primary;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $color-blue-primary;
    color: $color-white-primary;
  }
}

.btn-filter__sublist {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: start;

  &::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 2px solid $color-blue-primary;
    border-right: 2px solid $color-blue-primary;
    transform: rotate(135deg);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    border-color: $color-white-primary;
  }
}

.btn-filter__sublist.open {
  align-items: end;

  &::after {
    transform: rotate(-45deg);
  }
}

.sub-list-filter {
  position: absolute;
  display: block;
  text-align: start;
  width: 168px;
  height: 380px;
  padding: 14px 24px;
  overflow-y: scroll;
  background-color: $color-white-primary;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));

  &::-webkit-scrollbar {
    width: 6px;
  }
}

.sub-list-filter.is-hiden {
  display: none;
}

.sub-list-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-item-filter {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 0.5px;
    background-color: $color-blue-primary;
    transition: width 0.6s, left 0.6s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    left: 0;
  }
}
