.footer {
  position: relative;
  height: 120px;
  // padding: 32px 0 48 0;

  background-color: $color-bg-footer;

  @include tablet-up {
    height: 146px;
  }
}


.footer__wrapper {
  // position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 120px;
  // height: 120px;
  // border-right: 1px solid $color-gray-primary;

  // @include tablet-up {
  //   height: 146px;
  //   width: 140px;
  // }

  // @include desktop-up {
  //   width: 170px;
  // }
}

.project-info {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 12px;

  color: $color-bg-primary-light;

  font-size: 14px;
  line-height: 1.357;
}

.project-info__desc {
  display: inline-block;
}

.project-info__team-name {display: block;}

.project-info__btn {
  color: $color-blue-primary;
}

.project-info__attribute {
text-align: center;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  text-decoration: wavy;
}

.project-info__icon {
  // position: absolute;
  // left: 50%;
  // bottom: 0;
  // transform: translateX(-50%);


  width: 28px;
  height: 28px;
  fill: $color-bg-primary-light;
}


