.footer {
  position: relative;
  height: 136px;
  padding-top: 20px;
  background-color: $color-bg-footer;

  @include tablet-up {
    height: 146px;
  }
}


.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}

.project-info {
  padding: 4px;
  color: $color-bg-primary-light;
  font-size: 14px;
  line-height: 1.357;
  border: 1px solid;
  border-color: $color-bg-primary-light;
  transition: border-color $transition-time $transition-fn;

  @include tablet-up {
    font-style: 16px;
    line-height: 1.375;
    padding: 12px;
  }

  &:hover,
  &:focus {
    border-color: $color-blue-primary;
  }
}

.project-info__desc {
  display: inline-block;
}

.project-info__team-name {display: block;}

.project-info__btn {
  pointer-events: none; // !!! -- до наступної реалізації, потім прибрати

  color: $color-blue-primary;
  border-radius: $border-radius-big;
  border-color: transparent;
  cursor: pointer;
  transition: color $transition-time $transition-fn, background-color $transition-time $transition-fn;

  &:hover,
  &:focus {
    background-color: $color-blue-primary;
    color: $color-bg-primary-light;
  }
}

.project-info__attribute {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;

  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  pointer-events: none;
}

.project-info__icon {
  width: 28px;
  height: 28px;
  fill: $color-bg-primary-light;
}


