.mode-switch__wrapper {
  //* Для гумової верстки:
  @include mobile-only {
    padding-left: 16px;
    padding-right: 16px;
  }

  //* Рішення для адаптивної верстки
  //* з шириною чітко 320px:
  // @include mobile-only {
  //     width: 320px;
  //     margin: 0 auto;
  //     padding-left: 16px;
  //     padding-right: 16px;
  // }
}

.mode-switch {
  display: flex;
  align-items: center;
  padding-top: 8px;
  gap: 8px;

  @include desktop-up {
    gap: 12px;
  }
}

.toggle-btn {
  position: relative;

  width: 40px;
  height: 20px;
  border: 0.604701px solid;
  border-radius: $border-radius-big;

  border-color: $color-blue-secondary;
  background-color: $color-white-primary;
  cursor: pointer;
}

.toggle-btn__indicator {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  transition: transform $transition-time $transition-fn;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  background-color: $color-blue-secondary;
}

.mode-switch__icon {
  width: 21px;
  height: 21px;

  @include desktop-up {
    display: none;
  }
}

.mode-switch__icon--prepend {
  stroke: $color-blue-secondary;
  fill: $color-bg-primary-light;
}

.mode-switch__icon--upend {
  stroke: $color-grey-secondary;
  fill: $color-bg-primary-light;
}

.mode-switch__value {
  display: none;

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.33;

  @include desktop-up {
    display: inline-block;
  }

  &--prepend {
    color: $color-blue-secondary;
  }

  &--upend {
    color: $color-grey-secondary;
  }
}
